# Notebooks
*.ipynb linguist-vendored=true

# C / C++
*.c linguist-vendored=true
*.cpp linguist-vendored=true
*.cc linguist-vendored=true
*.h linguist-vendored=true
*.hpp linguist-vendored=true

# Arduino
*.ino linguist-vendored=true

# Java
*.java linguist-vendored=true
*.class linguist-vendored=true

# PHP
*.php linguist-vendored=true

# Web (markup e estilo)
*.html linguist-vendored=true
*.css linguist-vendored=true
*.scss linguist-vendored=true
*.xml linguist-vendored=true

# Shell
*.sh linguist-vendored=true

# Outros
*.prisma linguist-vendored=true
*.mdx linguist-vendored=true
*.nix linguist-vendored=true
*.bnf linguist-vendored=true