* {
    margin: 0;
    font-family: "Oxygen", sans-serif
}

body {
    background-color: #0d204a60;
}

.header {
    display: flex;
    align-items: center;
    padding: 7px;
    background-color: #0D204A;
    color: white;
}

.header img {
    width: 5%;
}

.header h1 {
    font-size: 3rem;
    margin-left: 5px;
}

.btnVoltar {
    width: 15%;
    height: 15%;
    margin-left: 20px;
    padding: 15px;
    border-radius: 7px;
    cursor: pointer;
    background-color: #00318d;
    border: 1px solid black;
    color: white;
    font-size: x-large;
    margin-left: 70%;
}

.searchInfo {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.search {
    width: 31%;
    margin-top: 1%;
    margin-bottom: 1%;
    border: none;
    border-radius: 7px;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.301);
    color: black;
    outline: none;
    font-size: 20px;
    border: 1px solid black;
    font-weight: bold;
}

::-webkit-input-placeholder {
    color: black;
}

.table {
    border-collapse: collapse;
    background-color: rgba(128, 128, 128, 0.301);
    font-weight: bold;
}

table, tr, th, td {
    border: 1px solid black;
    padding: 7px;
    font-size: x-large;
}

.tableContainer {
    margin: auto;
    width: 97vw;
}

.table {
    width: 100%;
}

.titulo {
    width: 20%;
}

/* Font */

.oxygen-light {
    font-family: "Oxygen", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.oxygen-regular {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.oxygen-bold {
    font-family: "Oxygen", sans-serif;
    font-weight: 700;
    font-style: normal;
}