* {
    font-family: sans-serif;
    margin: 0;
    color: white;
}

body {
    background-color: #0d204a60;
}

.header {
    display: flex;
    align-items: center;
    padding: 7px;
    background-color: #0D204A;
    color: white;
}

.header img {
    width: 5%;
}

.header h1 {
    font-size: 3rem;
    margin-left: 5px;
}

.btnVoltar {
    width: 15%;
    height: 15%;
    margin-left: 20px;
    padding: 15px;
    border-radius: 7px;
    cursor: pointer;
    background-color: #00318d;
    border: 1px solid black;
    color: white;
    font-size: x-large;
    margin-left: 70%;
}

.container {
    margin-top: 15px;
}

.container .form {
    margin-left: 35%;
    width: 30%;
}

.container .form .fieldset {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 7px;
    border: none;
    border: 2px solid black;
    background-color: #0d204a1c;
}

.container .form .fieldset h3 {
    margin-left: 27%;
    font-size: xx-large;
}

.container .form .fieldset .label {
    margin-bottom: 5px;
    margin-top: 5px;
}

.container .form .fieldset .input {
    border: none;
    border-radius: 7px;
    padding: 5px;
    cursor: pointer;
    color: black;
}

.container .form .fieldset .novaSenha {
    background-image: url("../imgs/eye.png");
    background-repeat: no-repeat;
}

.container .form .fieldset .repetirNovaSenha {
    background-image: url("../imgs/eye.png");
    background-repeat: no-repeat;
}

.container .form .fieldset .codigoDeSeguranca{
    background-image: url("../imgs/cadeado.png");
    background-repeat: no-repeat;
}

.verificacao {
    margin-top: 7px;
}

.btn {
    width: 70%;
    padding: 15px;
    border-radius: 7px;
    background-color: #0D204A;
    border: 1px solid black;
    color: white;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 15%;
}